<!doctype html>
<html ng-app="suhiColorApp">
<head>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <script src="http://code.angularjs.org/1.4.0-rc.2/angular.min.js"></script>
  <script src="js/app.js"></script>
</head>
<body ng-controller="suhiColorCtrl">
<input type="text" ng-model="nameform" placeholder="Enter your name here.."></input> <br/>
<select ng-model="year" ng-options="year for year in years" placeholder="Year"></select>
<select ng-model="month" ng-options="month for month in months"></select>
<select ng-model="day" ng-options="day for day in days"></select>
 <br/><br/>
birthday: {{year}}/{{month}}/{{day}} <br/>
number: {{year|summary}}, {{month|summary}}, {{day|summary}} <br/>
lifepath: {{ (year|summary) + (month|summary) + (day|summary) | summary }} <br/>
lifepath: {{ year + month + day | summary }} <br/>
<br/>
consonants: {{nameform|consonant}} <br/>
consonants number: {{nameform|consonant|char2num}} <br/>
persona number: {{nameform|consonant|char2num|summary}} <br/>
<br/>
vowels: {{nameform|vowel}} <br/>
vowels number: {{nameform|vowel|char2num}} <br/>
heart number: {{nameform|vowel|char2num|summary}} <br/>
<br/>
name: {{nameform}} <br/>
number: {{nameform|char2num}} <br/>
destiny number: {{nameform|char2num|summary}} <br/>
</body>
</html>